@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    /* background-color: rgb(36, 50, 240); */
}

.header_home{
    position: relative;
}

.bg_img_home{
    position: absolute;
    width: 100%;
    z-index: -10;
}

.bg_img_home img{
    width: 100%;
}

.bg_color_home{
    position: absolute;
    background: rgba(19, 40, 125, 0.85);
    z-index: -1;
    width: 100%;
    height: 100%;
}

.header_first{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 200px;
    color: rgba(255, 255, 255, 0.862);
    border-bottom: 1px solid rgba(255, 255, 255, 0.293);
}

.header_first_mail{
    padding: 0 5px;
}

.message_right{
    display: flex;
    align-items: center;
}

.message_right p{
    margin-right: 20px;
}

.message_right .message_btn{
    background-color: white;
    color: black;
    font-size: 16px;
    font-weight: 500;
    padding: 15px 25px;
    border-radius: 30px;
    cursor: pointer;
    transition: 300ms;
    text-decoration: none;
}

.message_right .message_btn:hover{
    background-color: rgba(255, 255, 255, 0.84);
}

.header_navbar{
    padding: 20px 200px;
    color: white;
    position: relative;
}

.navbar_inner{
    display: flex;
    justify-content: space-between;
}

.navbar_logo{
    font-size: 25px;
}

.navbar_logo a{
    text-decoration: none;
    color: white;
}

.navbar_menu_item{
    display: flex;
}

.navbar_menu_item .menubar ul{
    display: flex;
}

.navbar_menu_item .menubar ul li{
    list-style: none;
}

.navbar_menu_item .menubar ul li a{
    color: white;
    font-weight: 500;
    padding: 10px;
    text-decoration: none;
}

.navbar_social .social ul{
    display: flex;
    padding: 0 10px;
}

.navbar_social .social ul li{
    list-style: none;
    padding: 0 5px;
}

.navbar_social .social ul li a{
    text-decoration: none;
    color: white;
    padding: 9px 14px;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.251);
    font-size: 14px;
}

/* slider */
.header_slider1{
    display: flex;
    align-items: center;
    width: 100%;
    padding: 20px;
    height: 700px;
    /* background-color: rgb(191, 255, 0); */
}

.slider_title{
    width: 50%;
}

.slider_title .heading{
    font-size: 70px;
    font-weight: 700;
    line-height: 70px;
}

.slider_title .paragraph{
    font-size: 17px;
    line-height: 30px;
    margin: 25px 0;
}

.slider_btn{
    background-color: white;
    margin: 10px 0;
    display: inline-block;
    padding: 20px 40px;
    border-radius: 30px;
    color: black;
    font-weight: 600;
    transition: 300ms;
    cursor: pointer;
    text-decoration: none;
}

.slider_btn:hover{
    background-color: rgba(255, 255, 255, 0.73);
}

.home_details{
    display: block;
}

/* appointment form */
.header_appointment_form{
    background-color: white;
    padding: 30px;
    position: absolute;
    top: 200px;
    right: 200px;
    width: 400px;
    border-radius: 5px;
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.523);
}

.form_heading{
    color: rgba(19, 40, 125, 0.85);
    margin-bottom: 20px;
}

.input_tag input, select, textarea{
    padding: 20px;
    margin: 10px 0;
    width: 100%;
    border: none;
    background: rgba(0, 0, 0, 0.071);
    outline: none;
    font-size: 15px;
    color: rgba(0, 0, 0, 0.523);
}

.input_tag input:focus, select:focus, textarea:focus{
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.523);
}

.form_submit_btn button{
    width: 100%;
    padding: 20px;
    font-size: 17px;
    font-weight: 500;
    outline: none;
    border: none;
    background: rgba(19, 40, 125, 0.85);
    color: white;
    cursor: pointer;
}

/* home_details */
.home_details{
    display: flex;
    padding: 10px 200px;
    padding-bottom: 50px;
    margin-top: 200px;
}

.home_details_img img{
    width: 400px;
    height: 600px;
    object-fit: cover;
    border-radius: 5px;
    margin-right: 20px;
}

.home_details_info{
    margin-left: 100px;
}

.home_details_info_heading{
    color: rgb(7, 129, 27);
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 20px;
}

.info_heading_h1{
    color: rgba(19, 40, 125, 0.85);
    font-weight: 900;
    font-size: 50px;
    margin-bottom: 20px;
}

.paragraph_details{
    font-size: 17px;
    color: rgba(0, 0, 0, 0.6);
    font-weight: 500;
    margin-bottom: 5px;
}

.big_heading{
    font-size: 70px;
    font-weight: 900;
    color: rgb(4, 133, 25);
}

.small_heading{
    font-size: 40px;
    color: rgba(19, 40, 125, 0.85);
    font-weight: 800;
}

.get_quote_btn{
    display: inline-block;
    text-decoration: none;
    margin-top: 30px;
    color: white;
    font-size: 18px;
    border-radius: 40px;
    padding: 20px 30px;
    font-weight: 600;
    background-color: rgba(19, 40, 125, 0.85);
}

/* services */
.choose_services{
    margin-top: 10px;
    background: rgba(146, 174, 255, 0.251);
    padding: 20px 200px;
}

.service_img{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 45px;
    color: rgb(4, 133, 25); 
}

.service_img h1{
    color: rgba(19, 40, 125, 0.85);
    font-size: 50px;
    font-weight: 800;
    margin: 10px;
}

.choose_para{
    color: rgb(4, 133, 25);
    font-size: 20px;
    font-weight: 600;
    margin: 10px;
}

.service_details{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.service_details .services{
    width: 300px;
    margin: 20px;
    border: 1px solid rgba(0, 0, 0, 0.071);
    cursor: pointer;
}

.services .service_img img{
    width: 100%;
    height: 200px;
}

.services_para{
    padding: 20px;
    font-size: 20px;
    font-weight: 500;
    color: rgba(19, 40, 125, 0.85);
}

/* ratio project */
.ration_project{
    height: 500px;
    background-color: rgba(19, 40, 125, 0.85);
    padding: 10px 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ration_div{
    display: flex;
    flex-direction: column;
    width: 300px;
    justify-content: center;
    align-items: center;
}

.ration_project .ration_img{
    border: 2px dotted white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    padding: 50px;
    color: white;
    margin-top: 30px;
}

.ration_img i{
    font-size: 25px;
}

.ration_div .ration_info{
    text-align: center;
    padding: 30px 0;
}

.ration_info .ration_number{
    font-size: 50px;
    font-weight: 900;
    color: white;
}

.ration_info .ratio_para{
    color: white;
    padding: 10px 0;
}

.charges{
    padding: 50px 200px;
}

.charge_img{
    text-align: center;
    font-size: 50px;
    color: rgb(4, 133, 25);
}

.charges h1{
    font-size: 70px;
    text-align: center;
    font-weight: 900;
    padding: 20px;
    color: rgba(0, 0, 0, 0.468);
}

.charges p{
    text-align: center;
    font-size: 20px;
    font-weight: 700;
    color: rgb(4, 133, 25);
}

/* footer */
.footer{
    padding: 50px 150px;
    background: rgba(146, 174, 255, 0.251);
    display: grid;
    grid-template-columns: 2fr 2fr 1fr;
    gap: 10px;
}

.footer h1{
    font-size: 30px;
    color: rgb(4, 133, 25);
    padding: 25px 0;
}

.footer_about p{
    color: rgba(0, 0, 0, 0.651);
    font-size: 16px;
    font-weight: 400;
    padding-right: 20px;
}

.footer_navigation ul li{
    list-style: none;
    padding: 0px 0 20px 0;
}

.footer_navigation ul li a{
    text-decoration: none;
    color: black;
    font-weight: 500;
}

.footer_navigation ul i{
    font-size: 18px;
    color: rgba(0, 0, 0, 0.751);
    margin-right: 10px;
}

.footer_services ul li{
    list-style: none;
    padding: 10px 0;
}

.footer_services ul li i{
    font-size: 18px;
    color: rgba(0, 0, 0, 0.751);
    margin-right: 10px;
}

.footer_services ul li a{
    text-decoration: none;
    color: black;
    font-weight: 500;
}

.footer_address p{
    display: flex;
    padding: 10px;
    font-size: 18px;
    font-weight: 500;
}

.footer_address p i{
    margin-right: 10px;
    font-size: 25px;
    color: rgb(4, 133, 25);
}

/* responsive */
@media screen and (max-width: 1024px) and (min-width: 768px) {
    .header_first {
        flex-direction: column;
    }
    .bg_img_home{
        top: 100px;
    }
    .message_right .message_btn{
        padding: 10px;
    }
    .header_navbar{
        padding: 20px 100px;
    }
    .navbar_inner{
        flex-direction: column;
    }
    .navbar_menu_item{
        padding: 10px 0;
    }
    .header_slider1{
        height: 500px;
    }
    .slider_title{
        width: 100%;
    }
    .header_appointment_form{
        position: relative;
        left: 40px;
        top: 0;
    }
    .home_details{
        flex-direction: column;
        margin-top: 80px;
        padding: 78px;
    }
    .home_details_img{
        display: flex;
        justify-content: center;
        margin-bottom: 20px;
    }
    .home_details_img img{
        width: 350px;
        height: 400px;
    }
    .home_details_info{
        margin-left: 0px;
    }
    .choose_services{
        padding: 20px 30px;
    }
    .ration_project{
        padding: 20px 30px;
    }
    .charges{
        padding: 50px;
    }
    .charges h1{
        font-size: 50px;
    }
    .footer{
        padding: 50px 40px;
    }
}

@media screen and (max-width: 767px) and (min-width: 425px){
    .header_first{
        padding: 0;
        flex-direction: column;
        padding: 10px;
    }
    .bg_img_home{
        visibility: hidden;
    }
    .header_navbar{
        padding: 0;
    }
    .navbar_inner{
        flex-direction: column;
    }
    .navbar_menu_item{
        flex-direction: column;
    }
    .navbar_social{
        visibility: hidden;
    }
    .slider_title{
        width: 100%;
    }
    .header_slider1{
        height: 450px;
    }
    .slider_title .heading{
        font-size: 50px;
        line-height: 40px;
    }
    .header_appointment_form{
        position: relative;
        top: 0;
        left: 10px;
    }
    .home_details{
        flex-direction: column;
        margin-top: 100px;
        padding: 20px;
    }
    .home_details_img{
        display: flex;
        justify-content: center;
        margin-bottom: 20px;
    }
    .home_details_img img{
        width: 200px;
        height: 300px;
    }
    .home_details_info{
        margin: 0;
    }
    .home_details_info_heading{
        text-align: center;
    }
    .info_heading_h1{
        font-size: 35px;
    }
    .choose_services{
        padding: 22px;
    }
    .service_img h1{
        font-size: 38px;
    }
    .choose_para{
        margin: 0;
    }
    .ration_project{
        flex-wrap: wrap;
        height: max-content;
        padding: 15px;
    }
    .charges{
        padding: 30px;
    }
    .charges h1{
        font-size: 44px;
    }
    .footer{
        display: inline-block;
        padding: 30px;
    }
}

@media screen and (max-width: 424px) and (min-width: 310px){   
    .homepage_bg{
        height: 180%;
    }
    .bg_img_home{
        visibility: hidden;
    }
    .message_left{
        font-size: 10px;
    }
    .header_home{
        position: inherit;
    }
    .header_first{
        flex-direction: column;
    }
    .header_first{
        padding: 10px;
    }
    .message_right{
        padding: 10px;
    }
    .message_right .message_btn{
        padding: 10px 27px;
        font-size: 10px;
        width: 145px;
    }
    .header_navbar{
        padding: 20px;
    }
    .navbar_inner{
        display: inline-block;
    }
    .navbar_menu_item{
        display: inline-block;
    }
    .navbar_menu_item .menubar ul li a{
        padding: 10px ;
        font-size: 10px;
    }
    .navbar_social{
        visibility: hidden;
    }
    .header_slider1{
        display: inline-block;
    }
    .slider_title{
        width: 100%;
    }
    .slider_title .heading{
        font-size: 40px;
        line-height: 40px;
    }
    .header_appointment_form{
        position: relative;
        top: -200px;
        left: 0;
        width: 283px;
    }
    .home_details{
        display: inline-block;
        padding: 0px;
        margin-top: -100px;
    }
    .home_details_img{
        padding: 10px;
    }
    .home_details_img img{
        width: 300px;
        height: 400px;
        margin-bottom: 10px;
    }
    .home_details_info{
        margin-left: 0;
        padding: 10px;
    }
    .info_heading_h1{
        font-size: 30px;
    }
    .paragraph_details{
        font-size: 15px;
    }
    .big_heading{
        font-size: 55px;
    } 
    .small_heading{
        font-size: 30px;
    }
    .get_quote_btn {
        margin-top: 13px;
        font-size: 15px;
        padding: 16px 37px;
    }
    .choose_services{
        padding: 10px;
    }
    .service_img h1 {
        font-size: 28px;
    }
    .choose_para {
        font-size: 15px;
        margin: 0px;
    }
    .ration_project {
        height: auto;
        padding: 10px;
        display: inline-block;
    }
    .charges{
        padding: 20px;
    }
    .charges h1 {
        font-size: 32px;
    }
    .charges p {
        font-size: 15px;
    }
    .footer {
        padding: 20px;
        display: inline-block;
    }
}